.selection {
  display: none;
}

.jumbotron {
  margin-top: 2em;
}

.btn {
  margin-top: 2em;
}

#result {
  font-size: 4em;
  color: white;
}

.row {
  margin-top: 2em;
}

#cost {
  font-size: 4em;
  color: white;
}

body {
  font-family: 'Concert One', cursive;
  font-size: 2em;
  background: url(../img/background.jpg) no-repeat center center fixed;
  origin background-size: cover;
  background-size: cover;
}
